{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    
    // create a new websocket connecting to the server
    var socket = new WebSocket('ws://p4-ccuellar2007-ccuellar200725495.codeanyapp.com:8765/');

    socket.onopen = function(event) {
      console.log("The server is open and ready for business.");
    };
      
    Colors = {};
    Colors.names = {
      black: "#000000",
      blue: "#0000ff",
      brown: "#a52a2a",
      darkblue: "#00008b",
      darkgrey: "#a9a9a9",
      darkgreen: "#006400",
      darkorange: "#ff8c00",
      darkred: "#8b0000",
      darksalmon: "#e9967a",
      darkviolet: "#9400d3",
      gold: "#ffd700",
      green: "#008000",
      lightblue: "#add8e6",
      lightcyan: "#e0ffff",
      lightgreen: "#90ee90",
      lightgrey: "#d3d3d3",
      lightpink: "#ffb6c1",
      magenta: "#ff00ff",
      maroon: "#800000",
      navy: "#000080",
      olive: "#808000",
      orange: "#ffa500",
      pink: "#ffc0cb",
      purple: "#800080",
      violet: "#800080",
      red: "#ff0000",
      silver: "#c0c0c0",
      yellow: "#ffff00"
    };
  
    Colors.random = function() {
    var result;
    var count = 0;
    for (var prop in this.names)
        if (Math.random() < 1/++count)
           result = prop;
    return result;
    };
  
//     var myPath = new paper.Path();
//     myPath.strokeColor = Colors.random();
  
    var paths = {
    };
  
    id = Colors.random();
    tool.onMouseDrag = function(event) {
      socket.send(event.point.x + "$" + event.point.y + "$" + id);
    };
  
    // triggered when receiving a message from the server
    socket.onmessage = function(receivedMessage) {
      var x = receivedMessage.data.split("$")[0];
      var y = receivedMessage.data.split("$")[1];
      var userID = receivedMessage.data.split("$")[2];
   
      if (userID in paths) {
        paths[userID].add(new paper.Point(parseInt(x), parseInt(y)));
      }
      else {
        paths[userID] = new paper.Path();
        paths[userID].strokeColor = userID;
        paths[userID].add(new paper.Point(parseInt(x), parseInt(y)));
      }
    };
  
    socket.onerror = function(error) {
      console.log("WebSocket Error " + error);
    };

    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
      console.log('Chat socket closed unexpectedly');
    };


</script>
</html>